PORT=4001
FRONTEND_TARGET=http://localhost:5173
MAX_JSON_BODY_BYTES=1048576

SYNTHETIC_ONLY_MODE=true
INGESTION_INTEGRATION_MODE=parallel_fallback_json
MEASUREMENTS_RETENTION_DAYS=90

TIMESCALE_HOST=localhost
TIMESCALE_PORT=5432
TIMESCALE_DB=enms
TIMESCALE_USER=enms
TIMESCALE_PASSWORD=enms
TIMESCALE_SSL=false

INFLUX_HOST=http://localhost:8086
INFLUX_ORG=enms
INFLUX_BUCKET=measurements
INFLUX_TOKEN=change-me
INFLUX_MIRROR_ENABLED=true
INFLUX_MEASUREMENT=machine_telemetry
INFLUX_RETRY_ENABLED=true
INFLUX_RETRY_MAX_QUEUE=5000
INFLUX_RETRY_MAX_ATTEMPTS=5
INFLUX_RETRY_BASE_DELAY_MS=2000
INFLUX_RETRY_FLUSH_INTERVAL_MS=5000
INFLUX_RETRY_BATCH_SIZE=300

MQTT_BROKER_URL=mqtt://localhost:1883
MQTT_TOPIC_MEASUREMENTS=energy/machine/+
MQTT_CLIENT_ID=enms-mqtt-consumer
